/*Welcome container*/
.container-welcome {
  padding: 130px 74px;
}

.container-welcome .primary-button {
  margin-top: 90px;
}

/*Home container*/
.container-home {
  padding: 24px 64px;
  display: flex;
  flex-direction: column;
  gap: 64px;
}

.container-modes {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Game container */
.container-game {
}

.content-header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 36px;
  gap: 24px;
}

.win-count {
  display: flex;
  gap: 8px;
}

.square-count {
  width: 40px;
  height: 40px;
  border-radius: 6px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 24px;
}

.divisor {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}

.dot {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #ffffff;
}

.game {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-family: Arial, sans-serif;
  background: #efefef;
    padding: 20px;
}

/* Board styles */
.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 6px;
  margin-top: 64px;
  padding: 0 24px;
  align-items: center;
  justify-content: center;
}

/*.board-row {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*}*/

/* Square styles */
.square {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  transition: background-color 0.3s ease-in-out;
  border-radius: 6px;
}

.square:hover {
  background-color: #eaeaea;
}

/* Status styles */
/*.status {*/
/*  margin-bottom: 10px;*/
/*  font-size: 24px;*/
/*  font-weight: bold;*/
/*}*/

/* Game info styles */
.game-info {
  margin-left: 20px;
  padding: 16px;
}

.game-info ol {
  padding-left: 20px;
}

.game-options {
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
}

.game-option {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  width: 32px;
  height: 32px;
  background-color: rgba(58, 49, 77, 0.70);
}

.game-option img {
  width: 24px;
  height: 24px;
}

/*Button styles*/
.primary-button {
  border-radius: 6px;
  background-color: rgba(58, 49, 77, 0.70);
  cursor: pointer;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
  font-family: 'Kaushan Script', cursive;
}

.primary-button:hover {
  background-color: rgba(58, 49, 77, 0.85);
}

.primary-button:focus {
  background-color: #3A314D;
}

/*Text styles*/
.text {
  color: #ffffff;
}

.text.text--32 {
  font-size: 32px;
}

.text.text--48 {
  font-size: 48px;
}