/*Welcome container*/
.container-welcome {
  padding: 130px 74px;
}

.container-welcome .primary-button {
  margin-top: 90px;
}

/*Home container*/
.container-home {
  padding: 24px 64px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Game container */
.game {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-family: Arial, sans-serif;
  background: #efefef;
    padding: 20px;
}

/* Board styles */
.board {
  border: 2px solid #333;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 4px;
  background-color: #ababab;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.board-row {
  display: flex;
  flex-direction: row;
}

/* Square styles */
.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  border: 2px solid #aaa;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
  color: #007bff;
  font-size: 50px;
}

.square:hover {
  background-color: #eaeaea;
}

/* Status styles */
.status {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

/* Game info styles */
.game-info {
  margin-left: 20px;
  padding: 16px;
}

.game-info ol {
  padding-left: 20px;
}

.primary-button {
  border-radius: 6px;
  background-color: rgba(58, 49, 77, 0.70);
  cursor: pointer;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  transition: background-color 0.3s ease-in-out;
  width: 100%;
}

.primary-button:hover {
  background-color: rgba(58, 49, 77, 0.85);
}

.primary-button:focus {
  background-color: #3A314D;
}

/*Text styles*/
.text {
  color: #ffffff;
}

.text.text--32 {
  font-size: 32px;
}

.text.text--48 {
  font-size: 48px;
}