/* Game container */
.game {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  font-family: Arial, sans-serif;
  background: #efefef;
    padding: 20px;
}

/* Board styles */
.board {
  border: 2px solid #333;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 4px;
  background-color: #ababab;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.board-row {
  display: flex;
  flex-direction: row;
}

/* Square styles */
.square {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
  width: 100px;
  height: 100px;
  border: 2px solid #aaa;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out;
  color: #007bff;
  font-size: 50px;
}

.square:hover {
  background-color: #eaeaea;
}

/* Status styles */
.status {
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
}

/* Game info styles */
.game-info {
  margin-left: 20px;
  padding: 16px;
}

.game-info ol {
  padding-left: 20px;
}

/* Button styles */
button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 6px 12px;
  margin: 5px 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #0056b3;
}
